.container {   
  background: wheat;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

/* NAVBAR */

nav{
  font-size: large;
   width: 100%;
    color: #ffffffcb;
    padding: 4px 0;
    position: fixed;
    padding: 20px 60px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background: #f1d8d867;
    justify-content: space-between;
    z-index: 10;
}

.navbar h2{

    span{
        
    color: rgb(160, 113, 20);

}    
  }

.logo span{
  font-weight: bold;
  font-family:  "Inter", "Geist Sans", system-ui, -apple-system, sans-serif;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
  cursor: pointer;
}